# Preliminary: Install and Important Packages

In [19]:
! pip install kaleido

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaleido in /usr/local/lib/python3.8/dist-packages (0.2.1)

In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import decimal
from datetime import datetime, date, timedelta, timezone
from dateutil.relativedelta import relativedelta
import plotly.offline as py     
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
import statsmodels.api as sm
import plotly.colors as pc
import ipywidgets as ipw

In [21]:
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

--2023-02-19 02:27:12--  https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230219T022713Z&X-Amz-Expires=300&X-Amz-Signature=f5033b2dc2ebc5d1ca22c3887c509f144bfb6b694e478e6540f19d61b5e2139a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream [following]
--2023-02-19 02:27:13--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230219T022713Z&X-Amz-Expires=300&X-Amz-Signature=f5033b2dc2ebc5d1ca22c3887c509f144bfb6b694e478e6540f19d61b5e2139a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51607939 (49M) [application/octet-stream]
Saving to: ‘/usr/local/bin/orca’

/usr/local/bin/orca 100%[===================>]  49.22M  78.2MB/s    in 0.6s

2023-02-19 02:27:13 (78.2 MB/s) - ‘/usr/local/bin/orca’ saved [51607939/51607939]

Reading package lists... Done
Building dependency tree
Reading state information... Done
libgtk2.0-0 is already the newest version (2.24.32-4ubuntu4).
libgconf-2-4 is already the newest version (3.2.6-6ubuntu1).
xvfb is already the newest version (2:1.20.13-1ubuntu1~20.04.6).
The following package was automatically installed and is no longer required:
  libnvidia-common-510
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 21 not upgraded.

# Import Data

In [22]:
# Import the Queried Decentralization Index for AAVE
Aave_ent = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-PS2-Yiyang-Explanation/main/data/Queried_Data/Aave_Queried.csv',parse_dates=['date'],index_col="Unnamed: 0")
Aave_ent.head()

          val       date
0    2.509188 2020-10-02
1  190.326283 2020-10-03
2   43.323227 2020-10-04
3    7.090763 2020-10-05
4   16.404632 2020-10-06

In [23]:
# Import the Queried Decentralization Index for COMP
Comp_ent = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-PS2-Yiyang-Explanation/main/data/Queried_Data/Comp_Queried.csv',parse_dates=['date'],index_col="Unnamed: 0")
Comp_ent.head()

         val       date
0   1.000000 2020-06-14
1  16.063681 2020-06-15
2  46.431202 2020-06-16
3   1.758514 2020-06-17
4   1.281994 2020-06-18

In [24]:
### Homework for LUSD
Lusd_ent = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-PS2-Yiyang-Explanation/main/data/Queried_Data/Lusd_Queried.csv',parse_dates=['date'],index_col="Unnamed: 0")
Lusd_ent.head()

          val       date
0  459.262399 2021-04-05
1  163.125111 2021-04-06
2  155.022310 2021-04-07
3  104.400726 2021-04-08
4   98.481937 2021-04-09

# Process Data

In [25]:
# Define the functions for Processing Data
def ent(token):
  ent_exp = pd.DataFrame()
  ent_exp['val'] = token['val']
  ent_exp['date'] = token['date']
  ent_exp['n'] = range(1,ent_exp.shape[0]+1)
  ent_exp['SMA30'] =  ent_exp.val.rolling(30, min_periods=1).mean()
  ent_exp['SMA60'] =  ent_exp.val.rolling(60, min_periods=1).mean()
  ent_exp['SMA90'] =  ent_exp.val.rolling(90, min_periods=1).mean()
  ent_exp['SMA180'] =  ent_exp.val.rolling(180, min_periods=1).mean()
  ent_exp['EMA'] = ent_exp['val'].ewm(alpha=0.1, adjust=False).mean()
  ent_exp['EMA0.3'] = ent_exp['val'].ewm(alpha=0.3, adjust=False).mean()
  return ent_exp

In [26]:
# Process the Data using the defined functions for Aave
Aave_ent = ent(Aave_ent)
Aave_ent.head()

,val,date,n,SMA30,SMA60,SMA90,SMA180,EMA,EMA0.3
0,2.509188,2020-10-02,1,2.509188,2.509188,2.509188,2.509188,2.509188,2.509188
1,190.326283,2020-10-03,2,96.417735,96.417735,96.417735,96.417735,21.290898,58.854316
2,43.323227,2020-10-04,3,78.719566,78.719566,78.719566,78.719566,23.494130,54.194990
3,7.090763,2020-10-05,4,60.812365,60.812365,60.812365,60.812365,21.853794,40.063721
4,16.404632,2020-10-06,5,51.930819,51.930819,51.930819,51.930819,21.308878,32.965995

In [27]:
# Comp and Lusd for your homework
Comp_ent = ent(Comp_ent)
Comp_ent.head()

,val,date,n,SMA30,SMA60,SMA90,SMA180,EMA,EMA0.3
0,1.000000,2020-06-14,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,16.063681,2020-06-15,2,8.531841,8.531841,8.531841,8.531841,2.506368,5.519104
2,46.431202,2020-06-16,3,21.164961,21.164961,21.164961,21.164961,6.898852,17.792734
3,1.758514,2020-06-17,4,16.313350,16.313350,16.313350,16.313350,6.384818,12.982468
4,1.281994,2020-06-18,5,13.307079,13.307079,13.307079,13.307079,5.874536,9.472326

In [28]:
Lusd_ent = ent(Lusd_ent)
Lusd_ent.head()

,val,date,n,SMA30,SMA60,SMA90,SMA180,EMA,EMA0.3
0,459.262399,2021-04-05,1,459.262399,459.262399,459.262399,459.262399,459.262399,459.262399
1,163.125111,2021-04-06,2,311.193755,311.193755,311.193755,311.193755,429.648670,370.421213
2,155.022310,2021-04-07,3,259.136607,259.136607,259.136607,259.136607,402.186034,305.801542
3,104.400726,2021-04-08,4,220.452636,220.452636,220.452636,220.452636,372.407503,245.381297
4,98.481937,2021-04-09,5,196.058496,196.058496,196.058496,196.058496,345.014947,201.311489

# Export Data

In [29]:
Aave_ent.to_csv("Aave_Processed.csv")

In [30]:
# Comp and Lusd for your homework
Comp_ent.to_csv("Comp_Processed.csv")

In [31]:
Lusd_ent.to_csv("Lusd_Processed.csv")