# Preliminary: Install and Import Packages

In [ ]:
! pip install kaleido

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaleido in /usr/local/lib/python3.8/dist-packages (0.2.1)

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import decimal
from datetime import datetime, date, timedelta, timezone
from dateutil.relativedelta import relativedelta
import plotly.offline as py     
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
import statsmodels.api as sm
import plotly.colors as pc
import ipywidgets as ipw

In [ ]:
!wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
!chmod +x /usr/local/bin/orca
!apt-get install xvfb libgtk2.0-0 libgconf-2-4

--2023-02-19 03:16:51--  https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230219T031651Z&X-Amz-Expires=300&X-Amz-Signature=b9a398cefa26c917936e3435c555c64d919f7f5679296e9121d83a6ab19bc984&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream [following]
--2023-02-19 03:16:51--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/99037241/9dc3a580-286a-11e9-8a21-4312b7c8a512?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230219T031651Z&X-Amz-Expires=300&X-Amz-Signature=b9a398cefa26c917936e3435c555c64d919f7f5679296e9121d83a6ab19bc984&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=99037241&response-content-disposition=attachment%3B%20filename%3Dorca-1.2.1-x86_64.AppImage&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 51607939 (49M) [application/octet-stream]
Saving to: ‘/usr/local/bin/orca’

/usr/local/bin/orca 100%[===================>]  49.22M  18.7MB/s    in 2.6s

2023-02-19 03:16:54 (18.7 MB/s) - ‘/usr/local/bin/orca’ saved [51607939/51607939]

Reading package lists... Done
Building dependency tree
Reading state information... Done
libgtk2.0-0 is already the newest version (2.24.32-4ubuntu4).
libgconf-2-4 is already the newest version (3.2.6-6ubuntu1).
xvfb is already the newest version (2:1.20.13-1ubuntu1~20.04.6).
The following package was automatically installed and is no longer required:
  libnvidia-common-510
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 21 not upgraded.

# Query Data

Query Data from the Source:

https://ourworldindata.org/life-expectancy

In [ ]:
HL = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-PS2-Yiyang/main/data/Queried_Data/life-expectancy.csv',parse_dates=['Year'])
HL.head()

        Entity Code  Year  Life expectancy at birth (historical)
0  Afghanistan  AFG  1950                                   27.7
1  Afghanistan  AFG  1951                                   28.0
2  Afghanistan  AFG  1952                                   28.4
3  Afghanistan  AFG  1953                                   28.9
4  Afghanistan  AFG  1954                                   29.2

# Inspect Data

In [ ]:
HL.head(10)

        Entity Code  Year  Life expectancy at birth (historical)
0  Afghanistan  AFG  1950                                   27.7
1  Afghanistan  AFG  1951                                   28.0
2  Afghanistan  AFG  1952                                   28.4
3  Afghanistan  AFG  1953                                   28.9
4  Afghanistan  AFG  1954                                   29.2
5  Afghanistan  AFG  1955                                   29.9
6  Afghanistan  AFG  1956                                   30.4
7  Afghanistan  AFG  1957                                   30.9
8  Afghanistan  AFG  1958                                   31.5
9  Afghanistan  AFG  1959                                   32.0

In [ ]:
HL.dtypes

Entity                                    object
Code                                      object
Year                                      object
Life expectancy at birth (historical)    float64
dtype: object

In [ ]:
HL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20445 entries, 0 to 20444
Data columns (total 4 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Entity                                 20445 non-null  object
 1   Code                                   19058 non-null  object
 2   Year                                   20445 non-null  object
 3   Life expectancy at birth (historical)  20445 non-null  float64
dtypes: float64(1), object(3)
memory usage: 639.0+ KB

# Output Data

In [ ]:
HL.to_csv("HL.csv")